@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/


.box{
    width: 100px;
    margin: 0 auto;
    background: black;
    border-radius: 20px;

}

.red{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: red;
}
.yellow{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: orange;

}

.green{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: green;
}

.lightOn{
    box-shadow: 0px 0px 30px yellow;
}

